*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	/* font-family: 'Licorice', cursive;
   font-family: 'Merriweather', serif;
   font-family: 'Noto Sans', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
   font-family: 'Yanone Kaffeesatz', sans-serif; */

}

main{
	padding: 10px;
	margin:10px;

}

article header h1{
	font-size: 3em;
}

p .greytext{
	font-size: 20px;
}

table {
	text-align: left;
}

.smallfont{
	font-size:12px;
}

.greytext{
	color:rgb(163, 163, 163);
}


.tablehead{
   background-color: mediumblue;
	color:white;

}


.lightskyblue-raw{
	background-color: lightskyblue;
}

#patternbg{
	background:url(../img/pattern.png), rgb(77, 132, 250);
	position:relative;
	width:100vw;
	height:20vh;
}

#the-booleaner-logo{
width:8vw;
position:absolute;
left:0;
bottom:0;
padding:10px;
}