*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Licorice', cursive;
   font-family: 'Merriweather', serif;
   font-family: 'Noto Sans', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

main, footer, #the-booleaner-logo{
	padding:7px;
	margin:7px;
}

section header h1{
	font-size: 3em;
}

figure, .footerimg{
	margin-top:10px;
}

p .greytext{
	font-size: 20px;
}

ul{
	margin-left:20px;
}


table{
	width:100%;
	border-collapse:collapse;
}

.smallfont{
	font-size:12px;
}

.greytext{
	color:rgb(163, 163, 163);
}


.tablehead{
   background-color: rgb(56, 155, 247);
	color:white;
	text-align: left;
}

.smallercell{
	width:20%;
}

.lightskyblue-raw{
	background-color: rgb(165, 220, 253);
}

.footerimg{
	width:300px;
	height:200px;
	color:white;
	text-align: center;
	display:block;
}

#patternbg{
	background: rgb(77, 132, 250) url(../img/pattern.png) fixed top;
	position:relative;
	width:100vw;
	height:23vh;
}

#the-booleaner-logo{
width:15vw;
position:absolute;
left:0;
bottom:0;
}


#monitor{
	background-image:url(../img/monitor.jpg);
}


#grafico{
	background-image: url(../img/graph.jpg);
}